.bar-header
	background: red !important
	border: none

input
	background: #eee
	width: 98vw
	margin-top: 2vh

input[type=text]
	padding: 1VW

button[type=submit]
	background-color: red
	padding: 1vh
	border: none
	width: 50vw
	color: white

button
	margin-top: 5vh

.button-assertive
	margin-top: 3vh

.ion-ios-plus-empty
	width: 5vw

.form-group
	margin-top: 4vh

